<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="756ead">  <td>20/09/10 22:04:04</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethods.assignBrowser()[pri:0, instance:testcases.TC_STEMZ_001@26653222]">&gt;&gt;assignBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>20/09/10 22:04:10</td>   <td>5788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_STEMZ_001.registartion(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC_STEMZ_001@26653222]">registartion</td> 
  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>20/09/10 22:04:27</td>   <td>22545</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethods.flush()[pri:0, instance:testcases.TC_STEMZ_001@26653222]">&lt;&lt;flush</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
</table>
